---
import Page from "../components/chatgpt";
import HomeLayout from "../components/layout/HomeLayout";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <HomeLayout>
      <Page />
    </HomeLayout>
  </body>
</html>
